Django>=4.2,<5.0
GitPython>=3.1
python-decouple>=3.8
flake8>=6.0
bandit>=1.7
radon>=6.0
black>=23.0
mypy>=1.0
ruff>=0.1
pylint>=3.0
pylint-django>=2.5
pytest>=7.0
pytest-cov>=4.0
pytest-django>=4.0
vulture>=2.0
